<!DOCTYPE html>
<html>
<body>
  <div>
    <h1>Bem-Vindo a nossa aplicacao de BD</h1>
    <hr>
    <p>Selecione o que pretende procurar/atualizar na nossa base de dados</p>
  </div>
  <div>
  <button type="button" onclick="document.location='../app.cgi/categorias'">CATEGORIAS</button><p></p>
  <button type="button" onclick="document.location='../app.cgi/retalhistas'">RETALHISTAS</button><p></p>
  <button type="button" onclick="document.location='../app.cgi/eventos'">EVENTOS DE REPOSICAO</button>
  </div><p></p>
</body>
</html>