<!DOCTYPE html>
<html>
<body>
  <div>
    <h1>O que deseja fazer com categorias?</h1>
    <hr>
  </div>
  <form action="categorias/update" method="POST">
    <label>Categoria:</label><br>
    <input type="text" name="Categoria"><br><br>
    <input type="submit" name="action" value="Inserir Super Categoria"><p></p>
    <input type="submit" name="action" value="Inserir Categoria Simples"><p></p>
    <input type="submit" name="action" value="Remover Categoria"><p></p>
    <input type="submit" name="action" value="Listar sub-categorias">
  </form>
  <br><br><button type="button" onclick="document.location='../app.cgi/'">VOLTAR</button>
  

</body>
</html>